<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yoked">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TeamApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_yoked_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_yoked_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ComposePostActivity"></activity>
        <activity android:name=".MyPostsFragment" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".ProfilePictureActivity" />
        <activity android:name=".OtherUserProfileActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MatchActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".ComposeMessageActivity" />
        <activity android:name=".MainMessenger" /> <!-- <service android:name=".MessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".MessageDetailsActivity"/>
        <!--android:theme="@style/DetailsTheme">-->

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>